.branco {color: white;}
.font {font-family: Arial; size: 12px;}
.azul_escuro {background-color: #0D5188;}
.azul_medio {background-color: #66C5E3;}
.nome_cidade {color: #0D5188;}
.cinza {background-color: silver;}